* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* I have another comment here in luat-branch */
}

body {
    height: 100vh;
    font-size: 14px;
    font-family: "Poppins", "Poppins Fallback", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

header {
    display: block;
    background-color: #03204c;
    height: 63px;
    transition: 0.2s;
    position: fixed;
    width: 100%;
}

.navbar {
    width: 100%;
    padding: 8px 32px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    background-color: #03204c;
    transition: .2s;
}

.navbar .links {
    display: none;
    justify-content: center;
    gap: 2rem;
}

.navbar .action_btn {
    display: none;
    background-color: #fff;
    border-radius: .5rem;
    cursor: pointer;
}

.toggle_btn {
    width: 40px;
    height: 40px;
    border-radius: 0.5rem;
    padding: .5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.toggle_rotate {
    background-color: rgba(55, 65, 81, 0.5);
    transform: rotate(90deg);
}

.toggle_btn:active {
    background-color: rgba(55, 65, 81, 0.5);
}

.toggle_btn:focus {
    background-color: rgba(55, 65, 81, 0.5);

}

.action_btn a {
    cursor: pointer;
    color: #03204c;
}

.action_btn:hover {
    background-color: #3bc4e2;
    color: #fff;
}

.action_btn:hover a {
    color: #fff;
}

.btn_action {
    background-color: #3bc4e2;
    color: #fff;
    cursor: pointer;
    border-radius: .5rem;
    padding: 0.5rem 1.5rem;
    border: none;
    font-weight: bold;
}

.dropdown {
    position: absolute;
    width: 100%;
    height: 0px;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #03204c;
    transition: 0.3s;
}

.dropdown li {
    padding: .5rem 1rem .75rem 2rem;
    color: #fff
}

.dropdown.open {
    display: flex;
    height: 240px;
    margin: auto;
    padding: auto;
    z-index: 10;
    transition: 0.3s;
}

.links li ul {
    line-height: 2;
    background-color: #03204c;
    color: #fff;
    position: absolute;
    font-weight: lighter;
    height: 0;
    overflow: hidden;
    transition: height 0.2s;
}


.links .links-ul {
    height: auto;
    padding: 15px 25px 15px 25px;
    border: 1px solid #fff;
}

li ul a {
    font-weight: normal;
}

.links li a:hover {
    color: #3bc4e2
}

.links li:hover ul {
    height: auto;
    transition: height 0.2s;
}

li ul li {
    padding-left: 20px;
}

.mobile-ul {
    width: 75%;
    margin-top: 25px;
    line-height: 1;
    background-color: #03204c;
    color: #fff;
    position: absolute;
    top: 10px;
    z-index: 1033;
    transition: 0.5s ease;
    font-weight: lighter;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.mobile-ul li {
    padding-bottom: 10px;
}

.mobile-ul.open {
    padding: 15px 25px 15px 25px;
    border: 1px solid #fff;
    height: auto;
    transition: 0.5s;
}

.content {
    width: 100%;
    padding: 5rem 0 0 0;
    font-size: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    transition: 0.2s;
    padding: 0 0.5rem;
}

.flex-container .col-1 {
    width: 100%;
}


h1.title-h1 {
    padding-bottom: 1rem;
    text-align: center;
}

svg {
    font-size: 0.7rem
}

.page-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem 3rem 2.5rem
}

.prev {
    color: #03204c;
    font-weight: 450;
    float: left;
}

.next {
    color: #03204c;
    font-weight: 450;
    float: right;
}

.prev-content {
    display: block;
    float: left;
    color: #3bc4e2;
    font-weight: 550
}

.next-content {
    float: right;
    display: block;
    color: #3bc4e2;
    font-weight: 550
}

.title-h2 .prev:active {
    color: dodgerblue;
}

.title-h2 .next:active {
    color: dodgerblue;
}

.title-h2 .prev-content:active {
    color: dodgerblue;
}

.title-h2 .next-content:active {
    color: dodgerblue;
}


footer {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem;
    justify-content: space-between;
}

.footer-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

footer a:hover .svg-fb {
    color: deepskyblue;
}

footer a:hover .svg-ytb {
    color: rgb(249, 73, 54);
}

.footer-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-link a {
    color: black;
    font-weight: 500;
}

.footer-link a:hover {
    color: deepskyblue;
}

/* RESPONSIVE */

@media(min-width: 320px) {

    .navbar {
        width: 100%;
        height: auto;
    }
}



@media(min-width:768px) {

    .navbar .links {
        display: flex;
    }

    .navbar .action_btn {
        display: flex;
        align-items: center;
        padding: 0.5rem .75rem;

    }

    .toggle_btn {
        display: none;
    }

    .content .flex-container {
        flex-direction: row;
        margin: 0 0.5rem;
    }

    .dropdown.open {
        height: 0;
        display: none;
    }

    h1.title-h1 {
        text-align: start;
        font-size: 50px;
        font-weight: 500;
    }

    .col-1 h2 {
        font-size: 30px;
        font-weight: 500;
    }

    .col-2 {
        width: 25%;
    }

}

@media(max-width:768px) {
    .flex-container {
        gap: 0;
    }

    .col-2 {
        width: 100%;
    }

    .page-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;
        text-align: center;
    }

    .prev {
        float: none;
    }

    .next {
        float: none;
    }

    .prev-content {
        float: none;
    }

    .next-content {
        float: none;
    }


    footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-media {
        margin-top: 20px;
        justify-content: center;
    }

    .footer-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media(max-width:860px) {
    .navbar .links li a {
        font-size: 70%;
    }

    svg {
        font-size: 0.5rem
    }
}

@media(min-width:875px) {}

@media(min-width:1024px) {
    a {
        font-size: 1rem;
    }

    .navbar .action_btn {
        padding: 0.5rem 1.5rem;
    }

    .flex-container {
        margin: 0 0.5rem;
        gap: 2.5rem;
        padding: 0 2.5rem;
    }
}



@media(min-width:1280px) {
    .navbar {
        padding: 8px 96px;
    }
}